<header>
  <nav class="nav-pos">
    <a class="nav-item" href="/">HOME</a>
    <a class="nav-item1" href="/work-page">MY WORK</a>
    <a class="nav-item" href="/about-me">ABOUT ME</a>
    <a class="nav-item1" href="/contact">CONTACT</a>

    {{#if isLoggedIn}}
      <a class="nav-item" href="/logout">LOG OUT</a>
    {{else}}
      <a class="nav-item" href="/login">LOG IN</a>
    {{/if}}
  </nav>
</header>