<header>
  <nav class="nav-pos">
    <a class="nav-item" href="home.handlebars">HOME</a>
    <a class="nav-item" href="work-page.handlebars">MY WORK</a>
    <a class="nav-item" href="about-me.handlebars">ABOUT ME</a>
    <a class="nav-item" href="contact.handlebars">CONTACT</a>
  </nav>
</header>