<header>
  <nav class="nav-pos">
    <a class="nav-item" href="/">HOME</a>
    <a class="nav-item" href="/work-page">MY WORK</a>
    <a class="nav-item" href="/about-me">ABOUT ME</a>
    <a class="nav-item" href="/contact">CONTACT</a>
  </nav>
</header>