<main class="container">
  <section class="columns">
    <div
      class="about column col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12s"
    >
      <h1>Who am I?</h1>
      <p>My name is Emilia Fredriksson and I am 20 years old. I live in
        Jönköping but is originally from a little village called Snogeröd in
        Skåne. I am studying my second year at the program New Media Design at
        Jönköping University. My big dream is to become a graphic designer some
        day and I feel like I'm on a good way there.
        <br />
        <br />
        I really enjoy reading at my free time, mostly romantic books. I also
        really enjoy playing games on my ps5. And last but not least I really
        enjoy baking, it makes me calm and the good thing is then I can eat my
        feelings. Random fact about me that everyone just should know, I am
        OBSESSED with unicorns!!!
        <br />
        <br />
        Programming is hard and this website and I are not friends🙄
      </p>

    </div>
    <div
      class="about-pic column col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12s"
    >
      <img
        class="me"
        src="/img/Emilia.jpg"
        alt="A picture of myself in the elevator, dresssed in my ovve."
      />
    </div>
  </section>
</main>