<main class="container">
  <div>
    <form action="/messages/new" mecthod="post" class="message-function">
      <input
        class="message-name"
        type="text"
        placeholder="Name"
        required="required"
      />
      <input
        class="message-surname"
        type="text"
        placeholder="Surname"
        required="required"
      />
      <input
        class="message-mail"
        type="email"
        placeholder="Mail"
        required="required"
      />
      <input
        class="message"
        type="text"
        placeholder="Message"
        required="required"
      />
      <input class="message-date" type="date" required="required" />
      <input class="send-button" type="submit" value="Send!" />
    </form>
  </div>
  <div>
    <h1>Contact me</h1>
    <p>Norra Bogesundsgatan 2, Jönköping 554 73
      <br />
      emilia.fredriksson2003@gmail.com
      <br />
      076 311 21 34</p>
  </div>
</main>