<main class="container">
  <section class="columns">
    <div
      class="welcome column col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12s"
    >
      <h1>Welcome!</h1>
      <p>
        Hi and welcome to my portfolio website that I have coded totally on my
        own😊
      </p>
    </div>
    <div
      class="welcome-pic column col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12s"
    >
      <img
        class="welcome-pic1"
        src="/img/welcome-pic.jpg"
        alt="A drawing I made in procreate of the sun."
      />
    </div>
  </section>
</main>