<main class="container">
  <div class="welcome">
    <h1>Welcome!</h1>
    <p>
      Hi and welcome to my portfolio website that I have coded totally on my
      own😊
    </p>
  </div>
  <div class="welcome-pic">
    <img
      class="welcome-pic1"
      src="/img/welcome-pic.jpg"
      alt="A drawing I made in procreate of the sun."
    />
  </div>
</main>