<main>
  <div class="welcome">
    <h1>Welcome!</h1>
    <p>
      Hi and welcome to my portfolio website that I have coded totally on my
      own😊
    </p>
  </div>
  <div class="welcome-picture">
    <img src="" alt="" />
  </div>
</main>