<main class="container">
  <form action="">
    <input id="username" type="text" placeholder="Username" />
    <input id="password" type="text" placeholder="Password" />
    <button id="login-button"><a href="">Log In</a></button>
  </form>
</main>