<header>
  <nav class="nav-pos">
    <a class="nav-item" href="index.html">HOME</a>
    <a class="nav-item" href="workpage.html">MY WORK</a>
    <a class="nav-item" href="about-me.html">ABOUT ME</a>
    <a class="nav-item" href="contact.html">CONTACT</a>
  </nav>
</header>