<main>
  <h1>New roject</h1>

  {{#if isLoggedIn}}
    {{#if isAdmin}}
      <form action="/projects/new" method="post">
        <input
          type="text"
          name="projectimg"
          id="projectimg"
          placeholder="/img/"
          required="required"
        />
        <input
          type="text"
          name="projectname"
          id="projectname"
          placeholder="Project name"
          required="required"
        />
        <input
          type="text"
          name="projectdescription"
          id="projectdesription"
          placeholder="Project description"
          required="required"
        />
        <input
          type="date"
          name="projectdate"
          id="projectdate"
          required="required"
        />

        <input type="submit" value="Add project" />

      </form>
    {{/if}}
  {{/if}}

</main>