<main>
  <h1 class="full">New project</h1>

  <div class="full">
    {{#if isLoggedIn}}
      {{#if isAdmin}}
        <form action="/projects/new" method="post">
          <input
            type="text"
            name="projectimg"
            id="projectimg"
            placeholder="/img/"
            required="required"
          />
          <br />
          <input
            type="text"
            name="projectname"
            id="projectname"
            placeholder="Project name"
            required="required"
          />
          <br />
          <input
            type="text"
            name="projectdescription"
            id="projectdesription"
            placeholder="Project description"
            required="required"
          />
          <br />
          <input
            type="date"
            name="projectdate"
            id="projectdate"
            required="required"
          />
          <br />

          <input type="submit" value="Add project" />

        </form>
      {{/if}}
    {{/if}}
  </div>

</main>