<main class="container">
  <button><a href="/login">Log In</a></button>
  <button>all tags from database</button>
  <figure><a href="/project-page">
      <img src="" alt="" />
      <h1></h1>
      <p></p>
    </a>
  </figure>
</main>