body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.nav-pos {
  text-align: center;
  color: white;
  text-decoration: none;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 0.25rem;
}

.nav-item:hover {
  size: 110%;
}

.container {
  margin-left: 7rem;
  margin-right: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.welcome {
  grid-column-start: 1;
  grid-column-end: 3;
}

.welcome-pic {
  grid-column-start: 3;
  grid-column-end: 5;
}
