body {
  margin: 0;
  background-color: #181818;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

header {
  padding: 2rem;
}

.nav-pos {
  text-align: center;
  text-decoration: none;
}

.nav-item {
  color: #ffb6c1;
  padding: 0.25rem;
  font-size: x-large;
}

.nav-item:visited {
  color: #ffb6c1;
  text-decoration: none;
  padding: 0.25rem;
  font-size: x-large;
}

.nav-item1 {
  color: #ff8fa5;
  text-decoration: none;
  padding: 0.25rem;
  font-size: x-large;
}

.nav-item1:visited {
  color: #ff8fa5;
  text-decoration: none;
  padding: 0.25rem;
  font-size: x-large;
}

.nav-item:hover {
  size: 110%;
}

.container {
  margin-left: 7rem;
  margin-right: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* home page */
.welcome {
  grid-column-start: 1;
  grid-column-end: 3;
}

.welcome-pic {
  grid-column-start: 3;
  grid-column-end: 5;
}

.welcome-pic1 {
  width: 30rem;
  height: fit-content;
  border-radius: 3rem;
}

/* about page */
.about {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-right: 5rem;
}

.about-pic {
  grid-column-start: 3;
  grid-column-end: 5;
}

.me {
  width: 20rem;
  height: fit-content;
  border-radius: 3rem;
}

/* contact page */
.message-function {
  grid-column-start: 1;
  grid-column-end: 5;
}

.message-name {
  grid-column-start: 1;
  grid-column-end: 3;
}

.message-surname {
  grid-column-start: 3;
  grid-column-end: 5;
}

.message-mail {
  grid-column-start: 1;
  grid-column-end: 5;
}

.message {
  grid-column-start: 1;
  grid-column-end: 5;
}

.message-date {
  grid-column-start: 1;
  grid-column-end: 3;
}

.send-button {
  grid-column-start: 3;
  grid-column-end: 5;
}

/* login */
.login-function {
  grid-column-start: 1;
  grid-column-end: 5;
}

#username {
  grid-column-start: 1;
  grid-column-end: 3;
}

#password {
  grid-column-start: 3;
  grid-column-end: 5;
}

#login-button {
  grid-column-start: 2;
  grid-column-end: 4;
}
